@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
}

:root.dark {
  color-scheme: dark;
}

:root:not(.dark) {
  color-scheme: light;
}

body {
  margin: 0;
}
